.about__text {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  max-width: 500px;
}

.about__quote {
  margin: 0;
}

.about__box {
  display: flex;
}

.about__img{
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin-right: 80px;
}

.about__info {
  max-width: 500px;
}
