.field-select {
  position: relative;
  flex-grow: 1;
}

.field-select__input {
  width: 134px;
  min-height: 52px;
  padding: 0 27px 0 20px;
  font-size: 18px;
  line-height: 28px;
  appearance: none;
}

.field-select__input:focus {
  outline: 3px solid #cd06ff;
}

.field-select:after {
  content: "";
  position: absolute;
  right: 27px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #000;
  z-index: 1000;
}

.field-select__input--people {
  flex-grow: 1;
  width: 100%;
}
