.field-checkbox__label {
  position: relative;
  padding-left: 37px;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  outline: none;
}

.field-checkbox__label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  width: 25px;
  height: 25px;
  padding: 7px;
  transition: outline .2s linear;
}

.field-checkbox__input:checked + .field-checkbox__label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 13px;
  height: 13px;
  background-color: green;
}

.field-checkbox__label:focus:before {
  outline-offset: 2px;
  outline: 1px solid var(--accent-color);;
}

@media (max-width: 1000px) {
  .field-checkbox__label:before {
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
  }

  .field-checkbox__input:checked + .field-checkbox__label:after {
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  .field-checkbox__label {
    padding-left: 60px;
  }
}

@media (max-width: 710px) {

  .field-checkbox__label:before {
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  .field-checkbox__input:checked + .field-checkbox__label:after {
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
  }

  .field-checkbox__label {
    padding-left: 50px;
    font-size: 16px;
    line-height: 18px;
  }
}
