.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  font-size: 22px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  transition: color .2s linear;
}

.nav__link:hover {
  color: #840aa3;
}

.nav__link:focus {
  outline: 1px solid #cd06ff;
}

.nav__link:active {
  color: #6c0287;
}
