.questions-list__item {
  position: relative;
  background-color: #fff;
  color: #1c1a1a;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  cursor: pointer;
}

.questions-list__item:nth-child(even):after {
  border: 2px solid #fff;
}

.questions-list__item:nth-child(odd):after{
  border: 2px solid #440f51;
}

.questions-list__item:nth-child(2n) {
  color: #fff;
  background-color: #440f51;
}

.questions-list__item:nth-child(even) .questions-list__svg path {
  fill: #fff;
}

.questions-list__svg {
  position: absolute;
  top: 50%;
  right: 83px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  z-index: 2;
}

.questions-list__item:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  z-index: 1;
}

.questions-list__item:hover:nth-child(odd) .questions-list__svg path{
  fill: #fff;
}

.questions-list__item:hover:nth-child(odd):after{
  background-color: #6c0287;
}

.questions-list__item:hover:nth-child(even) .questions-list__svg path{
  fill: #6c0287;
}

.questions-list__item:hover:nth-child(even):after{
  background-color: #fff;
}

.questions-list__item:active .questions-list__svg path:first-child {
  display: none;
}

.questions-list__item:active:nth-child(odd):after {
  background-color: unset;
}

.questions-list__item:active:nth-child(odd) .questions-list__svg path{
  fill: #440f51;
}

.questions-list__item:active:nth-child(even):after {
  background-color: unset;
}

.questions-list__item:active:nth-child(even) .questions-list__svg path{
  fill: #fff;
}
