@media (max-width: 1240px) {
  .questions {
    padding-top: 20px;
    padding-bottom: 58px;
  }

  .questions__title {
    margin-bottom: 26px;
  }
}

@media (max-width: 710px) {
  .questions {
    padding-top: 15px;
    padding-bottom: 23px;
  }

  .questions__title {
    margin-bottom: 17px;
  }
}



