.social-list__item {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: outline .2s linear;
}

.social-list__link svg path {
  transition: fill .2s linear;
}

.social-list__link:hover svg path {
  fill: var(--bg-hover-three);
}

.social-list__link:focus {
  outline: 1px solid var(--accent-color);
}

.social-list__link:focus svg path {
  fill: var(--bg-hover-three);
}

.social-list__link:active svg path {
  fill: var(--accent-color);
}

@media (max-width: 1240px) {
  .social-list__svg,
  .social-list__link {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 930px) {
  .social-list {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .social-list__svg,
  .social-list__link {
    width: 30px;
    height: 30px;
  }

  .social-list__item {
    margin-right: 16px;
  }

  .social-list {
    margin-bottom: 36px;
  }
}



