.submit__btn {
  display: block;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--bg-hover);
  padding: 16px 41px 16px 42px;
  border: none;
  border-radius: 10px;
  transition: outline .2s linear, background-color .2s linear;
}

.submit__btn:hover {
  background-color: var(--bg-hover-three);
  outline: 3px solid var(--bg-click);
}

.submit__btn:focus {
  outline: 3px solid var(--bg-click);
}

.submit__btn:active {
  background-color: var(--bg-hover-three);
}
