.submit__btn {
  display: block;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 700;
  color: #6c0287;
  padding: 16px 41px 16px 42px;
  border: none;
  border-radius: 10px;
  transition: outline .2s linear, background-color .2s linear;
}

.submit__btn:hover {
  background-color: #eadeed;
  outline: 3px solid #640aa3;
}

.submit__btn:focus {
  outline: 3px solid #640aa3;
}

.submit__btn:active {
  background-color: #eadeed;
}
